@model MVCIleNorthwind.Models.Categories
@{
    ViewBag.Title = "Ekle";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
@section stiller
{
    <link href="~/Assets/css/FormLayout.css" rel="stylesheet" />
}
<h2>Düzenle</h2>
<hr />
<div class="formtasiyici">
    @if (ViewBag.basarili != null)
    {
        <div class="basarili">
            <label>@ViewBag.basarili</label>
        </div>
    }
    @if (ViewBag.basarisiz != null)
    {
        <div class="basarisiz">
            <label>@ViewBag.basarisiz</label>
        </div>
    }

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(x=> x.CategoryID)

        <!-- Düzenleme işleminde sayfada görünmeyen ancak model içerisinde yer alması gereken tüm fieldları Html.HiddenFor ile model yapısına dahil etmeliyiz. -->

        <div class="satir">
            <label>Kategori Adı</label><br />
            @Html.EditorFor(x => x.CategoryName, new { htmlAttributes = new { @class = "metinKutu" } })
        </div>
        <div class="satir">
            <label>Açılama</label><br />
            @Html.EditorFor(x => x.Description, new { htmlAttributes = new { @class = "metinKutu" } })
        </div>
        <div class="satir">
            <input type="submit" value="Düzenle" class="eklebutton" />
        </div>
    }
</div>


