@using MVCIleNorthwind.Models
@model IEnumerable<Categories>
@{
    ViewBag.Title = "Kategori Listesi";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Kategoriler</h2>
<hr />
@if (TempData["mesaj"] != null)
{
    <label>@TempData["mesaj"]</label>
}
<table cellpadding="0" cellspacing="0" border="1" class="liste">
    <tr>
        <th>ID</th>
        <th>Isim</th>
        <th>Açıklama</th>
        <th>Ürün Sayı</th>
        <th>Seçenekler</th>
    </tr>
    @foreach (Categories item in Model)
    {
        <tr>
            <td>@item.CategoryID</td>
            <td>@item.CategoryName</td>
            <td>
                @if (item.Description != null)
                {
                    @item.Description
                }
                else
                {
                    <label style="color:red">Yog</label>
                }
            </td>
            <td>
                @item.Products.Count
            </td>
            <td>
                <a href="@Url.Action("Duzenle","Kategori", new {id = item.CategoryID})">Düzenle</a>
                @*@if (item.Products.Count == 0)
                    {
                        <a href="@Url.Action("Sil","Kategori", new {id= item.CategoryID})">Sil</a>
                    }
                    else
                    {
                        <label>Sil</label>
                    }*@
                <a href="@Url.Action("Sil","Kategori", new {id= item.CategoryID})">Sil</a>
            </td>
        </tr>
    }
</table>


