<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Assets/css/BasicLayout.css" rel="stylesheet" />
    @RenderSection("stiller", false)
</head>
<body>
    <div class="solMenu" style="padding:15px">
        @Html.ActionLink("Anasayfa", "Index", "Home", null)
        <a href="@Url.Action("Index","Kategori")">Kategori Listesi</a>
        <a href="@Url.Action("Ekle","Kategori")">Kategori Ekle</a>
        <hr />
        <a href="@Url.Action("Index","Urun")">Ürün Listele</a>
        <a href="@Url.Action("Create","Urun")">Ürün Ekle</a>
    </div>
    <div class="anaIcerik">
        @RenderBody()
    </div>
    <div style="clear:both"></div>
</body>
</html>
